<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meetic</title>
    <link rel="stylesheet" type="text/css" href="style.css" defer>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" defer></script>
    <script src="../controller/connexion.js" defer></script>
    <script src="../controllers/navbar.js" defer></script>
</head>
<body>
    <nav>
        <ul>
            <li><a href="meetic.html">Accueil</a></li>
            <li><a href="Inscription.html">Inscription</a></li>
            <li><a href="Connexion.html">Connexion</a></li>
        </ul>
    </nav>
</header>
<h1>Cette adresse mail a déjà été utilisée !</h1>
<div class="insc_succ"><a href="meetic.html" class="insc_suc">Retourner à l'accueil</a>
<a href="Connexion.html" class="insc_suc">Aller à la page de Connexion</a>
<a href="Inscription.html" class="insc_suc">Page d'inscription</a>
</div>
    
</body>
</html>