<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Meetic</title>
    <link rel="stylesheet" type="text/css" href="style.css" defer>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" defer></script>
    <script src="../controllers/navbar.js" defer></script>
    <script src="//code.jquery.com/jquery.min.js" defer></script>
    <script src="../controllers/meetic.js" defer></script>
</head>
<body>

        <nav>
        <div class="container">

            <ul>
                <li><a href="Inscription.html">Inscription</a></li>
                <li><a href="Connexion.html">Connexion</a></li>
                <li><a href="#">Plus</a>
                    <ul>
                        <li><a href="Search.html">Recherche de match</a></li>
                        <li><a href="Compte.html"> Mon compte</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        </nav>
    <h1> My Meetic</h1>
    <h3>Avoir de bons amis est très important, mais comment faire pour trouver ceux qui nous correspondent ?</h3>
    <div ><img src="amis.jpeg.jpeg"></div>

    <div class="button-63"><input type="button" value="Se connecter" class="button-63" id="connect"></div>
    <div class="button-63"><input type="button" value="S'inscrire" class="button-63" id="inscrire"></div>

</body>
</html>